.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.forecast {
    margin-top: 25px;
    border: solid 1px #cecfd2;
    margin-left: 5%;
    padding: 12px 15px 15px 15px;
    height: 40%;
    text-align: center;
}

.five-day h2 {
   margin-top: 25px;
   margin-left: 5%;
}

.card-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

span.badge {
    color: white;
}

@media only screen and (max-width: 1024px) {
    nav {
        margin: 1.4em 0;
    }

    .forecast {
        display: block;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    h1 {
        display: flex;
        flex-wrap: wrap;
    }

    .card-row {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    label {
        text-align: left;
        flex-wrap: wrap;
    }
}
